@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    background-color: gray;
    width: 1200px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
header{
    background-color: rgb(204, 121, 121);
    width: 100%;
    height: 100px;
}
header .top-logo{
    background-color: rgb(131, 216, 255);
    width: 200px;
    height: 40px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
h1 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
nav {
    position: relative;
}
nav ul{
    width: 900px;
    line-height: 50px;
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: aliceblue;
}
nav ul li{
    background-color: rgb(201, 201, 201);
    float: left;
    list-style: none;
    width: calc(100% / 4);
    /* ul에 일단 너비 값을 주고 100% 나누기 하기 */
    text-align: center;
    font-weight: bold;
    /* padding: 5px 0; */
    /* 패딩 줄 필요 없음 line-height로 높이 주고 너비는 ul 값으로 만들어지니까 */
}