@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  background-color: gray;
  width: 1200px;
  height: 900px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
header {
  background-color: rgb(204, 121, 121);
  width: 100%;
  height: 100px;
}
header .top-logo {
  background-color: rgb(131, 216, 255);
  width: 200px;
  height: 40px;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
}
h1 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
nav {
  position: relative;
}
nav ul {
  width: 900px;
  line-height: 50px;
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: aliceblue;
}
nav ul li {
  background-color: rgb(201, 201, 201);
  float: left;
  list-style: none;
  width: calc(100% / 4);
  /* ul에 일단 너비 값을 주고 100% 나누기 하기 */
  text-align: center;
  font-weight: bold;
  /* padding: 5px 0; */
  /* 패딩 줄 필요 없음 line-height로 높이 주고 너비는 ul 값으로 만들어지니까 */
}
/* 메인 */
.main {
  width: 1200px;
  height: 700px;
  background-color: rgb(255, 62, 62);
}
/* 위 메인 이미지 */
.top-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.top-img img {
  height: 100%;
}
.span-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  width: 100px;
  color: #fff;
  text-align: center;
}
/* 아래 메인 */
.bottom-section {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: blanchedalmond;
}
/* 공지사항 */
.notice {
  width: 400px;
  height: 100%;
  background-color: aqua;
  /* display: flex; */
}
.h3-l{
    background-color: rgb(175, 175, 175);
    width: 110px;
    margin: 10px;
    line-height: 40px;
    text-align: center;
}
.notice ul li{
  background-color: aliceblue;
  padding: 5px 10px;
  list-style: none;
}
.notice ul li a{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.notice li:nth-child(odd){
  background-color: gray;
}
/* 갤러리 */
.h3-r {
  background-color: rgb(175, 175, 175);
  width: 110px;
  margin: 10px;
  line-height: 40px;
  text-align: center;
}
.gallary {
  width: 400px;
  height: 100%;
  background-color: rgb(187, 115, 255);
}
.gallary .img {
  float: left;
  width: 80px;
  height: 80px;
  margin: 60px 10px;
  background-color: red;
}
#img-1 {
  margin-right: 60px;
}
#img-2 {
  margin-right: 60px;
}
.gallary .img img {
  width: 100%;
}
/* 이미지 */
.right-img {
  position: relative;
  width: 400px;
  height: 100%;
  background-color: red;
  overflow: hidden;
}
.right-img img {
  height: 100%;
}
.span-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 50px;
  width: 70px;
  color: #fff;
  text-align: center;
}
/* 풋터 */
footer{
  background-color: antiquewhite;
  width: 1200px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
}
/* 로고 */
footer .bottom-logo{
  background-color: rgb(121, 121, 121);
  margin-left: 20px;
  width: 200px;
  height: 40px;
}
.copyright{
  width: 800px;
}
.sns{
  width: 200px;
  font-size: 30px;
  text-decoration: none;
  background-color: rgb(218, 218, 255);
}
.sns a{
  text-decoration: none;
}